
header .navbar-light .navbar-nav .nav-link {
    color: black;
}

.nav-item {
    font-size: 25px;
}

.form-search {
    text-align: center;
}

.logo-search-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo {
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-search, .contact-information {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search {
    width: 15em;
}

.second-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    border: black solid 0px;
    background-color: blueviolet;
    height: 60px;
    margin-left: 5%;
    margin-right: 5%;
    flex: 0 1 100%;
    grid-column: 1 / -1;
}

.link-nav { 
    color: black;
    padding: 10px;
    font-size: 20px;
}

.link-nav:hover {
    text-decoration: none;
    color: #212529;
}

.main-information, .products, .tel-map-adress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.priceList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.informationAbout {
    margin-left: 10%;
    margin-right: 10%;
}

.number {
    font-size: 20px;
    text-decoration: underline;
}

.number:hover {
    color: blueviolet;
}

.about-items, .about-worker, .about-time-work {
    display: block; 
    text-align: center;
}

.information-about {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 14px;
    margin: 20px;
}

.side {
    font-size: 30px;
    margin-top: -7rem;
}

.side h2 {
    text-align: center;
    margin-bottom: 40px;
}

.side h4 {
    text-align: center;
}

.certificate img {
    width: 100px;
    margin-left: 250px;
    margin-right: 150px;
    margin-top: 50px;
}

.certificate img:focus {
    width: 700px;
}

.minfin {
    margin-left: 0rem;
    position: sticky;
    top: 2em;
    min-height: 2em;
}

.advantages-img-text {
    display: flex;
    margin-top: 35px;
}

.advantages-text h5, .advantages-text p {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 20px;
}

.opt-rozdrib {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 100px;
}

.opt-rozdrib a {
    margin: auto;
    color: blueviolet;
}

.opt-rozdrib a:hover {
    text-decoration: none;
    color: rgb(157, 77, 231);
}

.advantages h3 {
    text-align: center;
    font-size: 30px;
}

.advantages h5 {
    font-size: 25px;
}

.advantages p {
    font-size: 20px;
}

.main-information {
    margin-top: -7rem;  
}

/* .advantages img {
    height: 50%;
    width: 50%;
} */

.h-waiting {
    font-size: 30px;
}

.map {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.adress-time {
    font-size: 20px;
}

.time-adress-map {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-column-gap: 30px;
}

.reclama {
    height:100%;
    width:100%;
    text-align: right;
    margin-right: 25%;
}

.footer-nav > * {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

footer .link-nav {
    
}

footer {
    background-color: #929292;
    height: 100px;
}

@media screen and (max-width: 992px) {
    .logo-search-contact {
        display: flex;
        flex-direction: column;
        align-items: center;        
        margin-bottom: 20px;   
    }

    .contact-information img{
        display: none;
    }

    .information-about, .about-worker, .about-time-work {
        display: flex;
        flex-direction: column;
    }

    .advantages img {
        height: 100%;
        width: 100%;
    }

    .minfin, .weather {
        margin: 0px;
        margin-left: 2rem;
        position: static;
    }

    .weather {
        margin-left: 7rem;
    }

    .side {
        margin-top: 2rem;
        margin: auto;
    }

    .opt-rozdrib img, .opt-rozdrib h4 {
        width: 10rem;
        margin-left: -10rem;
        padding-left: 4rem;
    }

    .advantages-img-text {
        width: 5rem;
    }

    .img-group, .img-calendar {
        margin-left: auto;
        margin-right: auto;
    }

    .time-adress-map {
        display: flex;
        flex-direction: column;
    }

    .map {
        margin-bottom: 1em;
    }

    .reclama {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }

    .reclama img {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

}